<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmusic.mapper.MusicTypeMapper">
	<select id="queryMusicTypes" parameterType="MusicType" resultType="MusicType"
		useCache="false">
	    <![CDATA[
		select * from musictype t where t.id = #{id}
		]]>
	</select>
	
	<select id="getMusicTypes" parameterType="int" resultType="MusicType"
		useCache="false">
	    <![CDATA[
		select * from musictype where 1=1
		]]>
	</select>
	
		<!-- 分页 -->
	<select id="getMusicTypePage" parameterType="Page" resultType="MusicType"
		useCache="false">
	    <![CDATA[
		select * from musictype limit #{currentPage},#{pageSize}
		]]>
	</select>
	
	<insert id="addMusicType" parameterType="MusicType" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO musictype(id,typeName,OrderNumber) 
			VALUES
			(#{id},#{typeName},#{orderNumber})
		]]>
	</insert>
	
	<update id="updateMusicType" parameterType="MusicType" >
		update musictype set typeName=#{typeName},
		OrderNumber=#{orderNumber} where id=#{id}
	</update>
	
	<delete id="delectMusicType" parameterType="MusicType">
		delete from musictype where id=#{id} 
	</delete>
</mapper>